
body {
    margin: 0;
    padding: 0;
 }
  .main-container {
    background-color:rgb(40, 44, 52);
    color: rgb(242, 242, 242);
    padding-left: 15px;
    height: 450px;
    font-family: Inter;
    margin-top: -30px; /* add negative margin to remove the gap */
    background-image: url('../images/logo192.png');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position-x: right;
    background-position-x: 512px;
    background-position-y: 100px ;
    
}
.main-container-light{
  background-color:rgb(242, 242, 242);
  color: rgb(40, 44, 52);
  padding-left: 15px;
  height: 450px;
  font-family: Inter;
  margin-top: -30px; /* add negative margin to remove the gap */
  background-image: url('../images/logo192.png');
  background-repeat: no-repeat;
  background-size: 35%;
  background-position-x: right;
  background-position-x: 512px;
  background-position-y: 100px ;
  
}

.h1-main{
    padding-top: 35px;
    font-size: 42px;
    font-family: Inter;
}

.main-container li {
    list-style-type: none;
   
  }
  .main-container li::before {
    /* unicode for bullet point */
    content: "\2022"; 
    color: rgb(97, 218, 251);
     /* optional: add some space between the bullet point and the text */
    margin-right: 8px;
    font-size: 150%;
  }
  .spacing-span{
    padding: 10px;
  }


