:root{
  --main-container-dark-backgroundcolor: rgb(40, 44, 52);
  --main-container-light-backgroundcolor: rgb(240, 240, 240);

  --main-text-dark-color: rgb(217, 220, 230);
  --main-text-light-color: black;


}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  .main-container {
    background-color:var(--main-container-dark-backgroundcolor);
    color: var(--main-text-dark-color);
    padding-left: 15px;
    height: 450px;
    font-family: Inter;
    margin-top: -30px; /* add negative margin to remove the gap */
    background-image: url('../images/logo192.png');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position-x: right;
    background-position-x: 512px;
    background-position-y: 100px ;
    
}


.h1-main{
    padding-top: 35px;
    font-size: 42px;
    font-family: Inter;
}

.main-container li {
    list-style-type: none;
   
  }
  .main-container li::before {
    /* unicode for bullet point */
    content: "\2022"; 
    color: rgb(97, 218, 251);
    margin-right: 8px;
    font-size: 150%;
  }
  .spacing-span{
    padding: 10px;
  }

/*  adding a light theme mode  */

  .main-light-container {
    background-color:var(--main-container-light-backgroundcolor);
    color: var(--main-text-light-color);
    
    
}
