.App {
  
   width: 650px;
   padding:10px 15px 0 15px;
    margin: auto;
  }
  
.navbar-toggle{
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(31, 29, 38); */
}


.App.dark {
  background-color: rgb(31, 29, 38);
  color: rgb(240, 240, 240);
}

.App.light {
  background-color:  rgb(240, 240, 240);
  color: rgb(31, 29, 38);
}
